@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  line-height: 1.5;
}

.main-grid {
  display: grid;

  grid-template-areas:
    'header'
    'main'
    'footer';

  grid-template-rows: auto 1fr auto;

  height: 100vh;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  justify-content: center;
  &.lg-heading {
    display: flex;
    font-size: 5rem;
  }

  &.subtitle {
    display: flex;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    margin-top: 3vh;
    background: rgba(lighten($primary-color, 2), 0.5);
  }

  &.md-heading {
    font-size: 3rem;
  }

  &.sm-heading {
    display: flex;
    margin: 1vh 0 2vh 0;
    font-size: 1rem;
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  display: inline-flex;
  margin-top: 15px;
  padding: 0 30px 0 30px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

.bold {
  font-weight: bold;
}

main {
  margin: 0 30px 0 30px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  .box-container {
    display: inline-block;
    flex-wrap: wrap;
    max-width: 45rem;
    align-items: center;
    justify-content: center;
  }
  .page-title {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    max-width: 800px;
    line-height: 0.9;
    justify-content: center;
    h2 {
      line-height: 1.2;
    }
  }
  .title-box {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    line-height: 0.9;
    padding: 0 0.5rem 0 0.5rem;
    justify-content: center;
    max-width: 25rem;
    border-left: set-text-color($primary-color) 3px solid;
    border-right: set-text-color($primary-color) 3px solid;
  }
  &#home {
    overflow: hidden;
  }

  &#contact {
    display: block;
    align-items: flex-start;
  }
}

.mob-social-icons {
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  // These are my grid areas

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // margin-top: 11vh;

  div {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    border: 3px set-text-color($primary-color) solid;
    padding: 0.5rem 1.5rem;
    background: rgba(lighten($primary-color, 2), 0.5);
    // margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      // margin-top: -0.1rem;
      // margin-right: 0.2rem;
      padding: 1rem 2rem;
      background: rgba(lighten($primary-color, 2), 0);
      // color: $secondary-color;
      border: 3px $secondary-color solid;
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 100);
  color: $contrast-color;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 100);
  color: #333;
}

#main-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);

  h3 {
    margin: 0 0.8rem 0 0;
    font-size: 1rem;
  }

  .icons {
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px $contrast-color solid;
  }

  .item {
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
      .btn {
        background: $secondary-color;
        color: set-text-color($secondary-color);
      }
    }
  }
}

.contact-box {
  margin-top: 10vh;
  text-align: center;
}

@import 'mobile';
